html body {
  box-sizing:border-box;
  margin:0;
}

.clearfix {
  clear:both;
}

ul {
  list-style-type: none;
  margin-right: 100px;
  padding: 0;
  float: right;
}

li {
  float: right;
  padding: 0 10px 0 10px;
  color:gray;
}

h1 {
  text-align: center;
  color:white;
  width:50%;
  margin: 0 auto;
  margin-top: 70px;
}

h3 {
  text-align: center;
  width:50%;
  margin: 0 auto;
  margin-top: 30px;
}

h2 {
  text-align: center;
  color: black;
  width:100%;
  margin: 0 auto;
  margin-top: 30px;
}

.white {
  color:white;
}

.header {
  background-image: url('images/bg.jpeg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: auto;
  width:  200px;
}

.btn_container {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.btn {
  color:white;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 7px;
  display: inline-block;
  text-decoration: none;
}

.btn.azul {
  background-color: blue;
}

.btn.verde {
  background-color: green;
}

.content {
  margin: 0 auto;
  text-align: center;

}

.content_img{
  height: auto;
  width: 300px;
  margin-top: 30px;
}

.calltoaction {
  border: solid 1px gray;
  background-color: gray;
  margin: 0 auto;
  text-align: center;
  margin_bottom: 30px
  padding:20px 0 20px 0;
}

.contact {

}

.contact_left {
margin-top: 100px;
margin-left: 200px;
display: inline-block;


}

.contact_right {
  margin-left: 100px;
  display: inline-block;

}

.footer {
  background-color: black;
  text-indent: 100px;
}
